<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="style.css">
  <link rel="icon" href=f1logo.jpg type="image/x-icon">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <h1><b>Tugas HTML Part - 1</b></h1>
    <h2>Nama: Max Verstappen</h2>
    <h3>Website saya :<a href = https://www.formula1.com/en/drivers/max-verstappen.html><del>Max Versappen</del> berubah menjadi <mark>Max Verstappen</mark> </a></h3>
    <h4>Alamat saya: Belanda</h4>
    <img src="maxxx.png" alt="Maxxxx">
    <p>Rumus kimia oksigen adalah H<sub>2</sub>O dan belajar <mark>Kalkulus</mark> memiliki Rumus X<sup>2</sup>+y+4 = 0
    <br>dan <del>Penjaskes</del> sudah <mark><u>dihapus</u></mark> di gantikan dengan Matematika <i>Diskrit</i>
    <br>Kembali Ke <a href = google.com>Indeks</a></p>
  </body>
</html>
